<div class="banner">
  <div class="container">
    <h1>Cocktails <strong>for beautiful people</strong>!</h1>
    <p>Learn to mix cocktails</p>
    <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-flat"  %>
  </div>
</div>

