<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="cocktails">
    <div class="logo">
    <i class="fas fa-glass-whiskey"></i>
    <h1 class="ml-3">Cocktails generator</h1>
    </div>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-flat"  %>
      </li>
       </li>
    </ul>
  </div>
</div>
