.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

i {
  font-size : 40px;
  font-weight: bold;
  justify-content: space-around;

}


h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
